@model marafi1.Models.clients

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/NewFolder1/Shared/_ThirdLayout.cshtml";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>إسم الشركة</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.name_comp)
        </dd>

        <dt>
            <label>الإسم</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <label>العنوان</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            <label>قيمة الشحن</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            <label>رقم الهاتف</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            <label>المرسل</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.sender)
        </dd>

    </dl>
</div>
<p style="padding-top:30px;">
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID_man }) |
    @Html.ActionLink("الرجوع إلى الخلف", "Index")
</p>

