@model marafi1.Models.follow_deliver

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/NewFolder1/Shared/_ThirdLayout.cshtml";
}

<h2>تفاصيل</h2>

<div>
   <hr />
    <dl class="dl-horizontal">

        <dt>
            <label>كمية الشحنة</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.quantity_charg)
        </dd>

        <dt>
            <label>نوع الشحنة</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.type_charging)
        </dd>

        <dt>
            <label>قادمة من</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.coming_from)
        </dd>

        <dt>
            <label>تاريخ الشحن</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            <label>المرسل</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.sender)
        </dd>

        <dt>
            <label>المستلم</label>
        </dt>

        <dd style="padding-top:5px;">
            @Html.DisplayFor(model => model.recip)
        </dd>

    </dl>
</div>
<p  style="padding-top:30px;">
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id_charging }) |
    @Html.ActionLink("الرجوع إلى الخلف", "Index")
</p>
